body {
  font-family: 'Rajdhani', sans-serif; /* Establece la fuente principal a "Rajdhani" para todo el cuerpo del documento */
  margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
  background-color: darkgray; /* Establece el color de fondo a gris oscuro */
}

* {
  box-sizing: border-box; /* Asegura que el modelo de caja incluya el borde en el cálculo del tamaño total */
}

h1 {
  text-align: center; /* Centra el texto en todos los elementos h1 */
  color: blanchedalmond; /* Cambia el color del texto a blanco */
  text-decoration: overline; /* Agrega una línea superior alrededor del texto en elementos h1 */
}

header {
  background-color: black; /* Establece el color de fondo de los elementos de encabezado a negro */
}

button:hover {
  background-color: red; /* Cambia el color de fondo del botón cuando el cursor se encuentra sobre él a rojo */
}

.button {
  background-color: black; /* Establece el color de fondo de elementos con clase "button" a negro */
  color: white; /* Cambia el color del texto a blanco */
  padding: 15px 30px; /* Agrega relleno al botón */
  font-size: 24px; /* Ajusta el tamaño del texto del botón */
  display: block; /* Hace que el botón se muestre como un bloque, ocupando todo el ancho disponible */
  margin: 0 auto; /* Centra el botón horizontalmente en su contenedor */
}


body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
  }
  
  .java-button {
    background-color: orange; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .java-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
  }
